body, html {
  height: 100%;
  margin: 0;
  font-family: 'I Did It My Way', sans-serif;
  font-size: 50px;                                 
}

.hero-image {
  background-image: url("pic\heroimage.png");
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(170, 3, 3);
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: rgb(150, 49, 49);
  background-color: rgb(68, 4, 4);
  text-align: center;
  cursor: pointer;
  font-family: 'I Did It My Way', sans-serif;
  font-size: 20px;
}

.hero-text button:hover {
  background-color: rgb(184, 0, 0);
  color: rgb(255, 0, 0);
}

body {
  margin: 0;
  padding: 0%;
}
